print("hello world")

In [3]:
a = 10
a * 2
a

10

In [4]:
a=20
a*1
a

20

In [5]:
input("enter your name")

enter your namepreethi

'preethi'

In [ ]:
input(5)

In [ ]:
input()

In [1]:
a =input("enter the course name")
b= int(input("enter the duration"))
print(a,b)
print(type(a))
type(b)

enter the course namepython
enter the duration4
python 4
<class 'str'>

int

In [ ]:
python
4

In [ ]:
python
4

In [5]:
x = 10
y = 13.5
z = 3+6j
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'complex'>

In [7]:
a =complex(y)

In [8]:
a

(13.5+0j)

In [9]:
c =complex(2,4)
c

(2+4j)

In [10]:
x="a"
y="python"
print(type(x))
type(y)

<class 'str'>

str

In [12]:
i=100
print(type(i))
j=str(i)
print(type(j))
k=float(i)
print(type(k))

<class 'int'>
<class 'str'>
<class 'float'>

x=20
y=2
x/y

In [14]:
x=10
y=2
x/y

5.0

In [15]:
x+y

12

In [16]:
x-y

8

In [17]:
x%y

0

In [18]:
x*y

20

In [19]:
x//y

5

In [20]:
x=50
y=10
z=7
x+y+z,x+y-z,x-y/z

(67, 53, 48.57142857142857)

In [21]:
x=3
y=4
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)

7
-1
12
0.75
0
3
81

In [26]:
## logical operator
a=20
b=30
print(a>=10 and a<=15)
print(b>=10 and b<=40)
print(a>=10 or a<=15)
print(not a)

False
True
True
False

In [27]:
## relational operator
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)

False
False
True
True
False
True

In [30]:
## membership operator
str1="abc"
print('c' in str1)
print('c' not in str1)
print('d' in str1)

True
False
False

In [37]:
## check for odd number
n=int(input("enter a number"))
if  n%2!=0:
    print("odd")

enter a number9
odd

In [38]:
n=int(input("enter a number"))
if  n%2!=0:
    print("odd")
else:
    print("even")

enter a number6
even

In [39]:
n=int(input("enter a number"))
if  n%3==0and n%5==0:
    print("divisible")
else:
    print("not divisible")

enter a number6
not divisible

In [40]:
n=int(input("enter a number"))
if  n%3==0 or n%5==0:
    print("divisible")
else:
    print("not divisible")

enter a number5
divisible

In [41]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if  a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
elif c>a and c>b:
    print(c)

enter a number4
enter a number3
enter a number2
4

In [44]:
a=int(input("enter a number"))
if a%4==0 and a%100==0 or a%400!=0:
    print("leap year")
else:
    print("not leapyear")

enter a number2009
leap year

# python
- Topics covered
    1.operators
    2.Datatypes
    3.Conditional statment

#python
Topics covered  
1.operators
2.Datatypes 

3.Conditional statment

#python
-Topics covered 
    1.operators 
    2.Datatypes 
    3.Conditional statment