In [1]:
s = "python"
s.upper()

'PYTHON'

In [2]:
s = "python"
s.lower()

'python'

In [3]:
s = "python"
print(s.upper()) # convert the given string into upper case
print(s.lower()) # convert the given string into lower case

PYTHON
python

In [4]:
# string boolean methods:
print(s)
print(s.islower())
print(s.isupper())

python
True
False

In [5]:
#istitle:
s1="Python Programming"
s2="python Programming"
print(s1.istitle())
print(s2.istitle())

True
False

# isnumeric

In [6]:
s3="py123"
s4="12345"
print(s3.isnumeric())
print(s4.isnumeric())

False
True

# isalpha

In [8]:
s="python"
s2="py123"
print(s.isalpha())
print(s1.isalpha())

True
False

# isspace

In [11]:
s=" "
s1="py th on"
print(s.isspace())
print(s1.isspace())

True
False

In [14]:
# function convert digit in a number to list
#input:18976
#output:[1,8,9,7,6]
def numberlistconversion(n):
    li=[]
    while n!=0:
        r = n%10
        li.append(r)
        n=n//10
    li.reverse()    
    return li
numberlistconversion(18976)

[1, 8, 9, 7, 6]

In [16]:
# function to check factor of a given number
# input:12
# output:1,2,3,6,12
def factorial(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i, end=" ")
factorial(12)

1 2 3 4 6 12

In [17]:
#input :500,250
#output:500,502,504,506,508.........520
def alternatesequence(lb,ub):
    for i in range(lb,ub+2,2):
        print(i, end=" ")
alternatesequence(500,520)

500 502 504 506 508 510 512 514 516 518 520

In [18]:
a = 13478
int(max(str(a)))

8

In [19]:
int(max(str(1234)))

4

In [20]:
a = 13478
b = str(a)
print(b)
type(b)

13478

str

In [21]:
c= max(str(a))

In [22]:
d= int(c)
d

8

In [ ]:
def factorial(n):
    fact=1
    i =1
    while i<=n:
        fact =fact*i
        i=i+1
    return fact
factorial(5)

In [26]:
input:s = "python"
output:['p','y','t','h','o','n']
s= "python" 
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [3]:
def factorial(n):
    fact=1
    i =1
    while i<=n:
        fact =fact*i
        i=i+1
    return fact
def factorialsum(n):
    s=0
    buffer = n
    while n!=0:
        r=n%10
        s=s+factorial(r)
        n=n//10
    return s
factorialsum(145)

145